* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* css repeatative things */
.flex {
  display: flex;
}
.center {
  align-items: center;
  justify-content: center;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
}
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 10px;
  margin: 20px 0;
}
.filter-container div {
  width: 15vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6a6a6a6a;
}
table {
  text-align: center;
  margin: 0 20px;
}
thead {
  border-bottom: 2px solid rgb(160 160 160);
  background-color: #2c5e77;
  color: white;
}
tbody {
  background-color: #e4f0f5;
}
tbody tr,
thead tr {
  height: 50px;
}

#filterByCgpa, #filterByGender {
  width: 90%;
  height: 100;
  outline: 0;
  border: 0;
}

#filterByName{
    height: 100%;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0 15px;
}